<%- include('../partials/header') %>

<section>
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Airport:</div>
    <div><%= flight.airport %></div>
    <div>Flight Number:</div>
    <div><%= flight.flightNo %></div>
    <div>Departure:</div>
    <div><%= flight.departs %></div>
    <h3>Arrival Information</h3>
    <% flight.destinations.forEach(function(f) { %>
     <div><%= f.airport %></div>
     <div><%= f.arrival %></div>
    <% }); %>
</section>

<section>
    <form id="add-arrival-form" method="POST"
        action="/flights/<%= flight._id %>/destinations">
        
        <label>Airport:</label>
        <select name="airport">
            <option value="LAX">LAX</option>
            <option value="SFO">SFO</option>
            <option value="DEN">DEN</option>
            <option value="SAN">SAN</option>
            <option value="AUS">AUS</option>
            <option value="TPA">TPA</option>
            <option value="JFK">JFK</option>
        </select>
        <label>Arrival:</label>
        <input type="datetime-local" name="arrival">
        <input type="submit" value="Add Arrival"></input>
    </form>
</section>


<%- include('../partials/footer') %>